{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class='col-sm-12 col-xs-12 col-md-6, col-lg-6 mx-auto mt-2'>
        <div class='bg-light mx-auto p-4 mt-2 mb-4'>
            <h4 class="text-center">Grading Method</h4>
            <p>
                The grading Method was based on the number of interactions a post has.
                The interactions includes : Comments, Likes, Loves and Replies. Comments were ranked
                highest because it indicates high interest in a post. Loves were ranked next followed by
                Likes and then Replies. In the lucid blog, some of the most interacted posts were test posts
                by the developers of Lucid blog. A filteration method was done to the posts returned to account 
                for test posts. Posts with short lengths were also removed leaving behind top posts with longer length.
            </p>
        </div>
    </div>
</div>
{% endblock %}